@tailwind base;
@tailwind components;
@tailwind utilities;

/* Width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #3b1c32;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2f2f30;
  border-radius: 10px;
  transition: background 0.3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2f2f2f;
}

/* Horizontal scrollbar */
::-webkit-scrollbar:horizontal {
  height: 6px;
}
