@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Nunito";
}
/* Width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #3b1c32;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2f2f30;
  border-radius: 10px;
  transition: background 0.3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2f2f2f;
}

/* Horizontal scrollbar */
::-webkit-scrollbar:horizontal {
  height: 6px;
}

.border-animation {
  position: relative;
  z-index: 0;

  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: conic-gradient(red, yellow, purple, orange, pink);
    animation: rotate 4s linear infinite;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: white;
    border-radius: 5px;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.editor-wrapper {
  border: 1px solid #666;
  border-radius: 8px;
  padding: 10px;
  background: #1a1a1d;
}

.editor-content {
  min-height: 200px;
  color: white;
}

.editor-toolbar {
  border-bottom: 1px solid #666;
}
